.navbarContainer {
    display: flex;
    align-items: center;
    background-color: #8E3440;
    height: 96px;
}

.logo {
    width: 5em;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.navbarLink {
    color: #F1C40F;
}

.navbarLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}
.navbarLink:hover{
    background-color: #F1C40F;
    color: #8E3440;
    transition: all 0.2s;
    border-radius: .2em;
}

.mobileNavbarItems {
    display: none;
}

.mobileNavbarBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: xx-large;
    padding: 0.5em;
}

.drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
    gap: 1em;
    background-color: #8E3440;
    font-size: xx-large;
}

@media screen and (max-width: 600px) {
    .navbarItems {
        display: none;
    }

    .mobileNavbarItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
.loginDropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}

.dropdownContent a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

